{{ define "main" }}
{{ $hero := resources.Get "images/aikido-training.jpg" }}
{{ $feature := resources.Get "images/aikido-keyhole.jpg" }}
{{ $isFrench := eq .Site.Language.Lang "fr" }}
{{ $heroAlt := cond $isFrench "Pratiquants d’aïkido en entraînement sur le tatami" "Aikido practitioners training together on a dojo mat" }}
{{ $featureAlt := cond $isFrench "Grand groupe d’élèves d’aïkido observant une démonstration" "Large group of Aikido students watching a demonstration" }}

{{ with $hero }}
  {{ $img := .Fill "1800x960 smart" }}
  <section class="home-hero-media">
    <img
      src="{{ $img.RelPermalink }}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      alt="{{ $heroAlt }}"
      class="home-hero-media__image"
    >
  </section>
{{ end }}

<section class="home-content">
  {{ .Content }}
</section>

{{ with $feature }}
  {{ $img := .Fill "1200x760 smart" }}
  <section class="home-feature-photo">
    <img
      src="{{ $img.RelPermalink }}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      alt="{{ $featureAlt }}"
      class="home-feature-photo__image"
    >
  </section>
{{ end }}
{{ end }}
